$grey-1: hsl(252, 10%, 10%); 
$grey-2: hsl(263, 6%, 20%);
$grey-3: hsl(273, 6%, 39%);
$grey-4: hsl(273, 4%, 45%);
$grey-5: hsl(300, 2%, 56%);
$grey-6: hsl(300, 2%, 63%);
$grey-7: hsl(300, 4%, 74%);
$grey-8: hsl(276, 5%, 82%);
$grey-9: hsl(348, 20%, 93%);
$grey-10: hsl(355, 20%, 96%);

$primary-1: hsl(223, 83%, 23%);
$primary-2: hsl(223, 67%, 29%);
$primary-3: hsl(223, 53%, 36%);
$primary-4: hsl(223, 45%, 42%);
$primary-5: hsl(224, 38%, 50%);
$primary-6: hsl(224, 40%, 57%);
$primary-7: hsl(224, 48%, 65%);
$primary-8: hsl(224, 57%, 75%);
$primary-9: hsl(224, 73%, 85%);

$accent-1: hsl(184, 92%, 32%);