@import "font-awesome/fontawesome.scss";
@import "font-awesome/solid.scss";
@import "font-awesome/brands.scss";

/* may not be necessary */
$fa-font-path: "../fonts";

.icon-github {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-github);
    }
}

.icon-linkedin {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-linkedin);
    }
}

.icon-envelope {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-envelope);
    }
}

.icon-database {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-database);
    }
}

.icon-python {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-python);
    }
}

.icon-javascript {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-js);
    }
}

.icon-node-js {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-node-js);
    }
}

.icon-react {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-react);
    }
}

.icon-html5 {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-html5);
    }
}

.icon-css3 {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-css3-alt);
    }
}

.icon-java {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-java);
    }
}

.icon-docker {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-docker);
    }
}

.icon-git {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-git-alt);
    }
}

.icon-windows {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-windows);
    }
}

.icon-ubuntu {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-ubuntu);
    }
}

.icon-aws {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-aws);
    }
}

.icon-linux {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-linux);
    }
}