@use "colors";
@use "fonts";

/* Adapted from Refactoring UI */
$normal-size: 16px;

$max-text-width: 75ch;

$left-align: $normal-size * 0.5;

/* Every Layout: Stack pattern */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: $normal-size * 2 auto;
}

.stack > * {
    margin: 0 auto;
}

.stack > * + * {
    margin-top: 1.5 * $normal-size;
}

/* Every Layout: Center pattern */
.center {
    box-sizing: content-box;
    display: block;
    margin: 0 auto;
}

/* Every Layout: Sidebar pattern */
%flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: $normal-size;
}

.sidebar {
    @extend %flex-wrap;
}

.sidebar > :first-child {
    flex-grow: 1;
}

.sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}

main {
    margin: $normal-size * 0.5;
    padding-top: 50px;
}

html {
    background-color: colors.$grey-10;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, #siteTitle {
    font-family: fonts.$heading-text;
}

p, li, footer, span {
    font-family: fonts.$body-text;
    line-height: 1.25;
}

h1 {
    font-size: $normal-size * 4;
    color: colors.$grey-1;
}

h2 {
    font-size: $normal-size * 3;
    margin: ($normal-size * 3) auto;
}

h3 {
    font-size: $normal-size * 3;
    color: colors.$grey-4;
}

h4 {
    font-size: $normal-size * 3;
    margin-top: $normal-size * 2;
    margin-bottom: $normal-size * 1.5;
}

.text-container {
    max-width: $max-text-width;
    min-width: 35ch;
}

.text-container * {
    line-height: 1.5;
}

.text-container > * + * {
    margin-top: var(--space, $normal-size * 0.75);
}

.stack.card-text {
    margin-top: 0;
}

section.card {
    margin-top: $normal-size * 2.5;
}

.card-heading {
    margin-top: $normal-size * 0.25;
    margin-bottom: $normal-size * 0.25;
    margin-left: $left-align;
    align-self: flex-start;
    max-width: 40ch; /* prevent unequal card spacing */
}

.card h1 {
    color: colors.$primary-1;
    font-size: $normal-size * 2;
}

.card h2 {
    color: colors.$primary-5;
    font-size: $normal-size * 1.5;
}

.card h3 {
    color: colors.$primary-6;
    font-weight: normal;
    font-size: $normal-size * 1.5;
}

.card h4 {
    color: colors.$primary-8;
    font-weight: normal;
    font-size: $normal-size * 1.5;
    margin: 0;
}

.card-image {
    width: 12 * $normal-size;
}

.left-align {
    margin-left: $left-align;
}

div.left-align {
    margin-top: $normal-size * 0.25;
}

div.left-align > * + * {
    margin-top: $normal-size * 0.25;
}

ul.external-links {
    list-style-type: none;
    margin-top: $normal-size * 0.5;
    padding: 0;
}

em {
    font-style: normal;
    font-weight: bolder;
    color: colors.$accent-1;
}

.pdf-viewer {
    min-width: 50vw;
    min-height: 80vh;
    width: 100%;
    height: auto;
}

p a, li a {
    color: colors.$primary-7;
}

:is(p, li) a:hover, a :is(h4, h5, h6):hover {
    text-decoration: underline solid 2px colors.$primary-1;
}

img.banner {
    max-width: 90vw; 
}

.degree-heading > .degree-title {
    font-size: $normal-size * 2;
    margin-bottom: 0;
}

.degree-heading > .degree-dates {
    font-size: $normal-size * 1.5;
    color: colors.$grey-3;
}

.flex-wrap {
    @extend %flex-wrap;
}

#skills {
    gap: $normal-size * 2;
}

.logo {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

ul.no-bullets {
    list-style-type: none;
}

/* Site Header */
#siteTitle {
    font-size: $normal-size * 2;
    font-weight: bold;
}

#siteTitle a {
    text-decoration: none;
    color: colors.$primary-7;
}

nav {
    background-color: colors.$grey-2;
}
span.icon-bar {
    background-color: colors.$grey-9;
    width: 24px;
    height: 2px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: colors.$grey-1;
}

.nav > li > a {
    color: colors.$grey-9;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

/* Site Footer */

footer {
    margin: ($normal-size * 2) 0;
    border-top: 1px solid colors.$grey-1;
    text-align: center;
    font-size: $normal-size * 0.75;
    padding-top: $normal-size * 0.5;
}

ul.blog-post-list {
    list-style-type: none;
    padding-left: 0;
}

#blog-post h3 {
    font-size: $normal-size * 2;
    color: colors.$grey-1;
}