@use "colors";
@use "layouts";
@use "fonts";

$default-size: layouts.$normal-size;

#headshot {
    border: 5px solid colors.$primary-2;
    border-radius: 5%;
}

#name {
    margin-bottom: 0;
    size: $default-size * 4;
}

#title {
    margin-top: 0;
    margin-bottom: $default-size * 0.5;
    size: $default-size * 1.5;
}

h3 {
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

@media (min-width: 600px) {
    .contact-list {
        display: flex;
        flex-wrap: wrap;
        gap: $default-size;
        justify-content: center;
    }
}


.icon-spacer {
    display: inline-block;
    width: 3px;
}

.contact-method {
    height: $default-size * 16;
    width: $default-size * 16;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $default-size * 2;
    background-color: colors.$grey-8;
    color: colors.$primary-2;
}

.contact-method span:not(.contact-icon) {
    font-family: fonts.$heading-text;
}

.contact-method:hover {
    background-color: colors.$primary-8;
}

.contact-icon::before {
    font-size: $default-size * 4;
}

a.contact-link:hover {
    text-decoration: none;
}

.contact-method > :last-child {
    font-weight: bold;
}