---
layout: main.ejs
title: Contact Oliver Xie
description: LiverHub (Oliver Xie/liversticks) contact links
github: https://www.github.com/liversticks
linkedin: https://www.linkedin.com/in/the-oliver-xie
email: mailto:oxie@sfu.ca
---
<article class='stack'>
    <section id="contacts">
        <h1>Contact Me</h1>
        <ul class="contact-method">
            <li>
                <a href="<%= github %>" rel="noreferrer" target="_blank">
                    <img class="logo" src="/static/images/fa-icons/github.svg" alt="GitHub logo"/>
                    GitHub Profile
                </a>
            </li>
            <li>
                <a href="<%= linkedin %>" rel="noreferrer" target="_blank">
                    <img class="logo" src="/static/images/fa-icons/linkedin.svg" alt="LinkedIn logo" />
                    LinkedIn Profile
                </a>
            </li>
            <li>
                <a href="<%= email %>">
                    <img class="logo" src="/static/images/fa-icons/envelope.svg" alt="Envelope (email)" />
                    My Email
                </a>
            </li>
        </ul>
    </section>
</article>