---
layout: main.ejs
title: Contact Oliver Xie
description: LiverHub (Oliver Xie/liversticks) contact links
github: https://www.github.com/liversticks
linkedin: https://www.linkedin.com/in/the-oliver-xie
email: mailto:oxie@sfu.ca
---
<article class='stack'>
    <section id="contacts">
        <h1>Contact Me</h1>
        <ul class="contact-method">
            <li>
                <a href="<%= github %>" rel="noreferrer" target="_blank">
                    <i class='github'></i>
                    GitHub Profile
                </a>
            </li>
            <li>
                <a href="<%= linkedin %>" rel="noreferrer" target="_blank">
                    <i class='linkedin'></i>
                    LinkedIn Profile
                </a>
            </li>
            <li>
                <a href="<%= email %>">
                    <i class='envelope'></i>
                    My Email
                </a>
            </li>
        </ul>
    </section>
</article>