---
layout: main.ejs
title: LiverHub - Home Page
description: LiverHub (Oliver Xie/liversticks) home page
firstName: Oliver
lastName: Xie
role: SFU Computing Science student
---
<div>
    <img src="/static/images/headshot.jpg" alt="A professional portrait of Oliver Xie">
    <div>
        <section>
            <h1 id='my-name'><%= firstName %> <%= lastName %></h1>
            <h2><%= role %></h2>
        </section>
        <div class='text-container'>
            <p>Hello! I'm <%= firstName %>, currently a fourth-year undergraduate student at Simon Fraser University (SFU) majoring in Computing Science!</p>
            <p>I have experience in <em>full-stack web development</em>, <em>data science</em>, and <em>mentoring my peers</em>. I learn quickly and am always eager to pick up new things!</p>
            <p>In my free time, I enjoy baking, cooking, hiking, skiing, public speaking, playing the piano, and video games.</p>
        </div>
    </div>
</div>