---
layout: main.ejs
title: My Work Experience
description: Where Oliver Xie has worked
cards:
    - src: /static/images/ch-logo-94px.svg
      alt: Change Healthcare corporate logo
      title: Software Development Engineer (Co-op)
      subtitle: Change Healthcare
      dates: September 2020 - April 2021
      bullets:
        - Conducted an alternatives analysis for an Identity Server (C# ASP.NET Core) version upgrade.
        - Implemented upgraded version using SOLID principles while minimizing impact to existing configuration and system integration.
        - Improved security for a key component of all Change Healthcare Radiology Solutions deployed at hospitals. 
        - Secured an image/DICOM file-upload API endpoint in the C# PACS backend.
        - Ported 30+ hotfixes over a 2-week sprint to support a national healthcare agency product upgrade.
        - Refactored Visual C++ backend modules using static analysis and eliminated over 50 resource leaks.
        - Updated existing tests and wrote new ones for legacy codebase.
        - Finished second place in company-wide Pacman hackathon and contributed to the pathfinding AI for ghosts and Pacman.
---
<article>
    <h1><%= title %></h1>
    <div class='card-container'>
        <% cards.forEach(card => { %>
            <%- include('_includes/layouts/card.ejs', { 
                cardImageSrc: card.src,
                cardImageAlt: card.alt,
                cardLinks: null,
                cardTitle: card.title,
                cardSubtitle: card.subtitle,
                cardDates: card.dates,
                cardBullets: card.bullets }) %>
        <% }) %>
    </div>
    <h2>Professional Skills</h2>
    <section class="two-column">
        <div class="skill-list">
            <h3>Programming Languages</h3>
            <ul>
                <li>C#
                    <ul>
                        <li>.NET</li>
                        <li>ASP.NET Core</li>
                    </ul>
                </li>
                <li>Python
                    <ul>
                        <li>Numpy</li>
                        <li>Pandas</li>
                    </ul>
                </li>
                <li>JavaScript
                    <ul>
                        <li>Node.js</li>
                        <li>React</li>
                    </ul>
                </li>
                <li>HTML/CSS</li>
                <li>SQL</li>
                <li>C</li>
                <li>Java</li>
                <li>C++</li>
            </ul>
        </div>
        <div class="skill-list">
            <h3>Tools and Utilities</h3>
            <ul>
                <li>Relational Databases
                    <ul>
                        <li>PostgreSQL</li>
                        <li>MS SQL Server</li>
                        <li>SQLite</li>
                    </ul>
                </li>
                <li>NoSQL Databases
                    <ul>
                        <li>Couchbase</li>
                        <li>Azure Cosmos DB</li>
                    </ul>
                </li>
                <li>Docker</li>
                <li>Apache Spark</li>
                <li>Git</li>
                <li>Microsoft Azure</li>
                <li>Windows and Ubuntu</li>

            </ul>
        </div>
    </section>
    <h2>My Résumé (as of <%= new Date().toLocaleDateString('en-us', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
    }) %>)</h2>
    <object class="pdf-viewer" data="/static/oxie_resume.pdf" type="application/pdf">
        <embed class="pdf-viewer" src="/static/oxie_resume.pdf" type="application/pdf">
            <p>Download my résumé as PDF <a href="/static/oxie_resume.pdf">here</a>.</p>
        </embed>
    </object>
</article>