<li>
    <% if(icon) { %>
        <i class="<%= icon %>"></i>
        <span class="icon-spacer"></span>
    <% } %>
    
    <%= name %>
    <% if(subitems) { %>
    <ul class="no-bullets">
        <% subitems.forEach(item => { %>
            <li>
                <% if(item.icon) { %>
                    <i class="<%= item.icon%>"></i>
                    <span class="icon-spacer"></span>
                <% } %>
                <%= item.text %>
            </li>
        <% }) %>
    </ul>
    <% } %>
</li>