@font-face {
  font-family: 'custom-fonts';
  src:  url('/static/fonts/icons.eot?lq5rbe');
  src:  url('/static/fonts/icons.eot?lq5rbe#iefix') format('embedded-opentype'),
    url('/static/fonts/icons.ttf?lq5rbe') format('truetype'),
    url('/static/fonts/icons.woff?lq5rbe') format('woff'),
    url('/static/fonts/icons.svg?lq5rbe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-fonts' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-amazonaws:before {
  content: "\e914";
}
.icon-apachespark:before {
  content: "\e902";
  color: #e25a1c;
}
.icon-c:before {
  content: "\e903";
  color: #a8b9cc;
}
.icon-cplusplus:before {
  content: "\e904";
  color: #00599c;
}
.icon-csharp:before {
  content: "\e905";
  color: #239120;
}
.icon-css3:before {
  content: "\e906";
  color: #1572b6;
}
.icon-docker:before {
  content: "\e900";
  color: #1488c6;
}
.icon-git:before {
  content: "\e907";
  color: #f05032;
}
.icon-github:before {
  content: "\e908";
}
.icon-go:before {
  content: "\e915";
  color: #00add8;
}
.icon-html5:before {
  content: "\e909";
  color: #e34f26;
}
.icon-java:before {
  content: "\e90a";
  color: #007396;
}
.icon-javascript:before {
  content: "\e90b";
  color: #f7df1e;
}
.icon-jquery:before {
  content: "\e916";
  color: #0769ad;
}
.icon-linkedin:before {
  content: "\e90c";
  color: #0077b5;
}
.icon-microsoft:before {
  content: "\e90d";
  color: #666;
}
.icon-microsoftazure:before {
  content: "\e90e";
  color: #0089d6;
}
.icon-nginx:before {
  content: "\e901";
  color: #269539;
}
.icon-node-dot-js:before {
  content: "\e90f";
  color: #393;
}
.icon-postgresql:before {
  content: "\e910";
  color: #336791;
}
.icon-python:before {
  content: "\e911";
  color: #3776ab;
}
.icon-react:before {
  content: "\e912";
  color: #61dafb;
}
.icon-typescript:before {
  content: "\e917";
  color: #007acc;
}
.icon-ubuntu:before {
  content: "\e913";
  color: #e95420;
}
.icon-windows:before {
  content: "\e918";
  color: #0078d6;
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-database:before {
  content: "\f1c0";
}
