---
layout: main.ejs
title: Contact Oliver Xie
description: LiverHub (Oliver Xie/liversticks) contact links
contacts:
    - icon: github
      flavor: GitHub Profile
      username: liversticks
      link: https://www.github.com/liversticks
    - icon: linkedin
      flavor: LinkedIn Profile
      link: https://www.linkedin.com/in/the-oliver-xie
    - icon: envelope
      flavor: My Email
      link: mailto:oxie@sfu.ca
github: https://www.github.com/liversticks
linkedin: https://www.linkedin.com/in/the-oliver-xie
email: mailto:oxie@sfu.ca
---
<article class='stack'>
    <h1>Contact Me</h1>
    <ul class="contact-list">
        <% contacts.map(contact => { %>
            <li>
            <%- include('_includes/layouts/contact-method.ejs', {
                contactLink: contact.link,
                contactIcon: contact.icon,
                contactUsername: contact.username,
                contactFlavor: contact.flavor
            }) %>
            </li>
        <% }) %>
    </ul>
</article>