---
layout: main.ejs
title: My Education
description: Where Oliver Xie studied/went to school
courseCards:
    - title: Software Testing, Reliability, and Security
      subtitle: CMPT 473
      bullets:
        - Learned about unit tests (automated generation, mutation testing, test coverage metrics) and UI testing.
        - Covered tools such as GoogleTest, pytest, and Selenium.
        - Analyzed Pandoc's conversion of GitHub Flavored Markdown to HTML and constructed a minimal-spanning set of input space partitions. 
    - title: Web-based Information Systems
      subtitle: CMPT 470
      bullets:
        - Learned about front-end fundamentals (markup, styling, client-side frameworks, mobile), HTTP, optimizing pages, security, and architecture.
        - Explored the Python web2py server-side batteries-included framework and compared it with alternatives such as Django and ASP.NET Core.
        - Built the authentication subsystem using Passport and session middleware and led feature integration for a gradebook/course planner team project written in Node.js using Express.
    - title: Comparative Programming Languages
      subtitle: CMPT 383
      bullets:      
        - Learned about functional programming, polyglot system design, and concurrency constructs.
        - Implemented exercises using Haskell, Rust, and Go.
        - Used SWIG to make the C++ Armadillo matrix manipulation library accessible via Python and web UI (Flask, JavaScript).
    - title: Compilers
      subtitle: CMPT 379
      bullets:
        - Learned about lexical analysis, parsing, semantic/context analysis, intermediate representations, code generation, and optimization.                    
        - Implemented a compiler for a declarative, procedural language (Bilby) using Java - see the <a href="/projects">projects page</a> for more information.
    - title: Networking I
      subtitle: CMPT 371
      bullets:
        - Learned about protocols at the application layer (email, DNS, HTTP), transport layer (TCP), network layer (IP), and data link layer.
        - Implemented socket programs using Python and profiled network communications using WireShark.
    - title: Database Systems I
      subtitle: CMPT 354
      bullets:
        - Learned about entity-relationship modelling, database schema design, normalization, and relational algebra.
        - Used SQL Server (T-SQL) and SSMS on course exercises. 
    - title: Computational Data Science
      subtitle: CMPT 353
      bullets:
        - Learned about data pipelines, extract-transfer-load, statistical tests, machine learning, and data visualization.
        - Used Python (NumPy, Pandas, Matplotlib, SciKit-Learn) and Apache Spark on course exercises.
        - Analyzed win rates and player stats (kills/deaths/assists in matches) for DoTA 2.
    - title: Computability and Complexity
      subtitle: CMPT 308
      bullets:
        - Learned about Turing machines, decidability, Kolmogorov complexity, and NP-completeness.
    - title: Data Structures and Algorithms
      subtitle: CMPT 307
      bullets:
        - Built on the material introduced in CMPT 225 by exploring additional data structures (red-black trees, B-trees), randomized analysis, and amortized analysis.
    - title: Operating Systems
      subtitle: CMPT 300
      bullets:
        - Learned about processes, concurrency primitives, inter-process communication, memory, and file systems.
        - Implemented a process scheduler, network text chat application, and ls-like file displayer in C.
    - title: Introduction to Computer Systems
      subtitle: CMPT 295
      bullets:
        - Learned about assembly language, memory addressing, and processor execution models.
    - title: Introduction to Software Engineering
      subtitle: CMPT 276
      bullets:
        - Learned about the software development life cycle, software architecture, creating user stories, and agile teamwork.
        - Implemented a training management system for a corporate client using Node.js, Postgres, and EJS, greatly improving their manual Excel tracking. See the <a href="/projects">projects page</a> for more information.
    - title: Data Structures and Programming
      subtitle: CMPT 225
      bullets:
        - Learned about and implemented data structures/algorithms such as AVL trees, heaps, hash tables, and various sorting algorithms in C++.
---
<article class='stack'>
    <h1><%= title %></h1>
    <section id="SFU" class='stack'>
      <div class="sidebar">
        <div class="degree-institution">
          <a href="https://www.sfu.ca" rel="noreferrer" target="_blank">
            <img src="/static/images/SFU.png" alt="Simon Fraser University logo" class='banner'/>
         </a>
        </div>
        <div class='degree-heading text-container'>
          <h2 class='degree-title'>Bachelor of Science in Computing Science</h2>
          <h3 class='degree-dates'>September 2019 - August 2023</h3>
        </div>
      </div>
      <section id='academics' class='text-container'>
        <h4>Academic Performance</h4>
        <p>I currently have a 3.8 GPA and received the Dean's Honour Roll three times.</p>
        <p>I am a recipient of the Undergraduate Scholars Entrance Scholarship (USES), a <em>full-ride scholarship </em>
            that recognizes students of high academic achievement who are also involved in their communities.
        </p>
      </section>
      <section class='stack' id='coursework'>
        <div class="text-container">
          <h4>Coursework</h4>
          <p>While some courses are more theoretical and abstract than others, all of my courses helped me more deeply understand computing.</p>
        </div>
        <% courseCards.forEach(card => { %>
            <%- include('_includes/layouts/card.ejs', { 
              padImages: false,
              cardLinks: null,
              cardImageLink: null,
              cardImageSrc: card.src,
              cardImageAlt: card.alt,
              cardTitle: card.title,
              cardSubtitle: card.subtitle,
              cardDates: card.dates,
              cardBullets: card.bullets }) %>
        <% }) %>
    </section>
    <section id='extracurriculars' class='text-container'>
        <h4>Extracurriculars</h4>
        <p>I served as the <em>First-Year Representative</em> for the SFU Computing Science Student Society (CSSS). As part of this eight-month role,
            I planned two student social events; assisted in the running of a hackathon and biweekly board games nights; and managed access
            to the the exam bank.
        </p>
        <p>As a <em>CS Peer Tutor</em>, I helped first and second-year students with their coursework while also fostering independent inquiry and analysis skills.
            My ability to read and reason with others' code improved tremendously because I was doing that all the time. 
        </p>
        <p>I introduced new students to SFU as a <em>HIVE Leader</em> (virtual orientation leader) and <em>Wayfinding Champion</em> (tour guide). I always answered any inquiry future students had about academics,
            locations, and social life at university and organized Q-and-A sessions/games for them.
        </p>
        <p>Continuing my public speaking experience from high school, I joined the Burnaby Mountain Toastmasters club where I delievered prepared/impromptu speeches
            and helped run meetings as a club member.
        </p>
        <p>I played tenor saxophone for the SFU Jazz Band.</p>
    </section>
  </section>
</article>