@font-face {
    font-family: 'libre_caslon_textregular';
    src: url('/static/fonts/librecaslontext-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/librecaslontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('/static/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #F3F3F3;
}

body {
    background-color: #476DCF59;
}

main {
    margin: 0.5rem;
}

h1, h2, h3, h4 {
    font-family: 'source_sans_proregular';
}

p, li, footer {
    font-family: 'libre_caslon_textregular';
    line-height: 1.25;
}

em {
    font-style: normal;
    font-weight: bolder;
    color: #07959E;
}

.pdf-viewer {
    min-width: 50vw;
    min-height: 80vh;
    width: 100%;
    height: auto;
}

.education-header {
    background-color: #C0BEC2;
    border: 1.5px solid black;
    padding: 0.5rem;
}

@media screen and (max-width: 560px) {
    .heading-box img {
        width: 100%;
    }
}

@media screen and (min-width: 560px) {
    .heading-box {
        display: flex;
    }

    .heading-box img {
        max-width: 100%;
        object-fit: contain;
        object-position: bottom;
        align-self: center;
    }

    .heading-contents {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .card-media img {
        max-width: 100%;
    }

    .card-media {
        margin: 0.5rem;
    }
}

@media screen and (min-width: 480px) {    
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        grid-gap: 1rem;
        margin: auto 1rem;
    }

    .bullet-card {
        display: flex;
    }

    .card-media {
        align-self: center;
        margin: 0.5rem 1rem 0.5rem 0.5rem;
    }

    .card-media img {
        width: 8rem;
    }

    .two-column {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1rem;
    }
}

.logo {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.contact-method {
    list-style-type: none;
}

.contact-method a {
    text-decoration: none;
}

/* Bullet Card */

.bullet-card {
    border: 1.5px solid black;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #F3F3F3;
}

.bullet-card h1 {
    font-size: 1.5rem;
    color: #0A266D;
    margin: 0.25rem 0;
}

.bullet-card h2 {
    font-size: 1rem;
    color: #0B3399;
    margin: 0.25rem 0;
}

.bullet-card h3 {
    font-size: 1rem;
    color: #5D7ED6;
    margin: 0.25rem 0;
}

.bullet-card h4 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0.25rem 0;
    display: flex;
    justify-content: left;
    align-content: center;
}

.bullet-card li {
    margin: 0.2rem auto;
}

/*
.bullet-card h4 a:link {
    text-decoration: none;
}
*/

/* Site Header */

header {
    display: flex;
    align-items: center;
    background-color: #2F2E33;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

#siteTitle {
    margin: 0;
}

#siteTitle a {
    text-decoration: none;
    color: #6387e2;
    padding-left: 1rem;
}

nav ul {
    margin: 0;
    list-style-type: none;
}

.nav-item {
    padding: 0;
    float: left;
}

.nav-item:hover {
    background-color: #585660;
}

.nav-link {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #E4E2E5;
}

/* Site Footer */

footer {
    margin: 2rem 0;
    border-top: 1px solid #2F2E33;
    text-align: center;
    font-size: smaller;
    padding-top: 0.3rem;
    background-color: #F3F3F3;
}
