<footer class="footer">
    &copy; <%= new Date().getFullYear() %> Oliver Xie.
    View the source code of this website on 
    <a rel="noreferrer" target="_blank" href="https://www.github.com/Liversticks/portfolio"><i class='icon-github'></i> GitHub</a>.
</footer>